body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(54, 106, 89);
    color: white;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(42, 161, 103);
    box-shadow: 0 2px 4px rgba(44, 44, 44);
    border-radius: 15px;
}

h1 {
    color: white;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(15, 218, 150);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(12, 185, 127);
}

#responseData {
    margin-top: 20px;
    font-size: 18px;
}

.weather-icon {
    margin: 20px 0;
}

.weather-icon img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}